<div class='row'>
  <div class='small-12 large-6 small-centered columns'>
    <h3>It's Go Time!!</h3>
    <form action='/notify-time' id='enter_number' method='POST'>
      <input id='baby_name' name='baby_name' placeholder='baby name' type='text'>
      <input id='weight' name='weight' placeholder='weight' type='text'>
      <input id='time' name='time' placeholder='time it popped out' type='text'>
      <input class='large button expand' name='submit' type='submit' value='Notify our peeps'>
    </form>
  </div>
</div>
