<div class='row'>
  <div class='large-6 small-12 small-centered columns'>
    <form action='/register' id='enter_number' method='POST'>
      <input id='name' name='name' placeholder='name' type='text'>
      <input id='phone_number' name='phone_number' placeholder='phone number' type='text'>
      <div class='row'>
        <div class='small-3 columns'>
          <label class='right inline' for='send_mms'>Would you like to see pictures of the adorable little baby?</label>
        </div>
        <div class='small-9 columns'>
          <input id='send_mms' name='send_mms' type='checkbox' value='yes'>
        </div>
      </div>
      <input name='submit' type='submit' value='notify me :)'>
    </form>
  </div>
</div>
