.row
  .small-12.large-6.small-centered.columns
    %table
      %tr
        %th{:width => "200px"} User
        %th{:width => "280px"} Phone
        %th Pics?
        %th{:width => "200px"} Verified

      - @users.each do |user|
        %tr
          %td= user.name
          %td= user.phone_number 
          %td= user.send_mms 
          %td= user.verified 


%script{:type => "text/javascript", :src  => "/js/notify.js"}