.row
  .large-6.small-12.small-centered.columns
    %form{:id => "winner", :action => '/score-points', :method => 'POST'}
      %input{:type => "text", :name => "category", :id => "category", :placeholder => "category"}
      %input{:type => "text", :name => "winner", :id => "winner", :placeholder => "winner..."}
          
      %input.large.button.expand.regButton{:type => "submit", :name => "submit", :value => "enter winner"}